/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require imgareaselect-default
 */

/* Sticky footer styles
 * -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: image-url("heart-background.png");
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
 * -------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;

}
.container .text-muted {
  margin: 20px 0;

}


/* for clmtrakr */
#overlay {
  position: absolute;
  top: 0px;
  left: 0px;

}

#container {
  position : relative;
  width : 700px;
  height : 500px;
  /*margin : 0px auto;*/

}

#sketch {
  display: none;
}

#filter {
  display: none;
}

#convergence {
  display : inline;
}

.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger {
  padding: 15px;
}
