<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="easi6, 미남이시네요, 얼굴 점수" />
    <meta name="description" content="너의 얼굴에 점수를 매겨주마!!" />
    <meta name="author" content="easi6" />
    <meta name="publisher" content="easi6" />
    <meta property="og:title" content="미남이시네요"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://minam.easi6.com/ico/logo.png"/>
    <meta property="og:url" content="http://minam.easi6.com"/>
    <meta property="og:description" content="너의 얼굴에 점수를 매겨주마!!" />
    <meta property="fb:app_id" content="511766518933293"/>
    <link rel="shortcut icon" href="http://minam.easi6.com/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://minam.easi6.com/ico/favicon.ico" type="image/x-icon">

    <title>미남이시네요</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

